h3{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-style: italic;
    height: 200px;
    width: 200px;
    position: relative;
    bottom: 30px;
    }
 body{
     background-image:url("./ab.jpg");
     background-size: cover;
      background-position: center center;
     background-repeat: no-repeat; 
    
 }
 
 nav img{
     height: 100px;
     width: 200px;
     padding:0px;
     
 }
 
 h1 {
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     font-style: italic;
     font-display: flex;
     color: white;
     padding: 50px;
     
 }
 
 header{
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
     color: white;
     text-align:left;
     justify-content: center;
     z-index: 10;
 }
 
 main{
     color: white;
     position: relative;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-style: italic;
 }
 
 nav{
     display: flex;
     align-items: center;
     max-width: 80vw;
     margin: auto;
     justify-content: space-between;
     height: 60px;
 }
  
 .container{
          color:white;
          text-shadow: 2px 2px 4px black;
 }
 h2{
     top: 200px;
     font-weight: bolder;
 }
 .footer,
 .footer a {
        color:white;
        font-size: 0.9rem;
        background-color:black ;
        height: 500px;
        position: relative;
        
 }
 .footer h2{
     font-family: 'Times New Roman', Times, serif;
     font-size: 20px;
     text-align: center;
     align-items: center;
     color: white;
      padding: 50px;
      justify-content: center;
      left:30px ;
      
 }
 .footer select{
     left: 60px;
     text-align: center;
     justify-content: center;
     position: relative;
 
 
 }
 
 .footer p{
     margin-bottom: 1.5rem;
     padding-left: 60px;
     position: relative;
 }
 .footer .footer-cols{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap:2rem;
     padding-left: 0px;
     position: relative;
 }
 .footer li{
     line-height: 1.9;
     position: relative;
 }
 h1{
     font-size: 3rem;
     color: white;
     position: relative;
 }
 .card-1
 .card-2
 .card-3{
     border-top: 8px rgb(69,69,69);
     padding: 50px;
 
 }
 .card-1{
     display: inline-grid;
     grid-template-columns: 50% 40%;
     text-align: left;
     align-items: center;
     padding: 25px 45px 50px; 
 }
 .desc-1{
     
     border: 5px solid violet;
     border-radius: 20px;
     margin:0px;
     padding: 25px;
     box-shadow: 0 4px 12px rgba(0,0,0,0.7);
     background-color: black;
     height: 250px;
     width: 250px;
     bottom: 520px;
     right: 50pxpx;
     text-align: center;
 }
 
 style h1{
        font-size: 3rem;
        padding: 1rem;
        padding-left: 0;
        
 }
 style h3{
     font-size: 1.6rem;
     line-height: 2rem;
 
 }
 .card-2{
     display: inline-grid;
     grid-template-columns: 50% 40% ;
     text-align: left;
     align-items: center;
     padding: 25px 45px 50px;
 }
 .desc-2{
     
     border: 5px solid violet;
     border-radius: 20px;
     margin:0px;
     padding: 25px;
     box-shadow: 0 4px 12px rgba(0,0,0,0.7);
     background-color: black;
     height: 260px;
     width: 250px;
     bottom: 20px;
     right:0px;
     text-align: center;
 }
 .card-3{
     display: inline-grid;
     grid-template-columns: 50% 40%;
     text-align: left;
     align-items: center;
     padding: 25px 45px 50px;
 }
 .desc-3{
     
     border: 5px solid violet;
     border-radius: 20px;
     margin:0px;
     padding: 25px;
     box-shadow: 0 4px 12px rgba(0,0,0,0.7);
     background-color: black;
     height: 250px;
     width: 250px;
     left: 50px;
     bottom: 50px;
     top: 10px;
     right: 50px;
     
 }
 .container,
 p{
 padding: 0px;
 }
